<div style="min-width: 80vw; background-color: black; color: antiquewhite;">
    <h3>All Shows</h3>
    </div>
    
    <div class="master">
    
    <div class="filter">
      <h4><i class="fa-solid fa-sliders">&nbsp;</i>Filter by</h4>
      <br>
      <ul *ngFor="let item of GenresList">
        <li [ngClass]="'active'" (click)="getid(item)">{{item.name}}</li>
      </ul>
    </div>
    
    
    <div class="moviesDiv" *ngIf="!show">
    <div class="card" style="width: 14rem;" *ngFor="let item of showsList" [routerLink]="['/details',item.id]">
      <img *ngIf="!item.poster_path" class="card-img-top"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png"
      height="" alt="">
    <img else class="card-img-top" src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" alt="">
        <div class="card-body">
          <h6 class="card-text">{{item.original_name}}</h6>
        </div>
      </div>
    </div>
    <br>
    
    
    
    <div class="moviesDiv" *ngIf="show">
    <div class="card" style="width: 14rem;" *ngFor="let item of getShowByGenres" [routerLink]="['/details',item.id]">
      <img *ngIf="!item.poster_path" class="card-img-top"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png"
      height="" alt="">
      <img else class="card-img-top" src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" alt="">
      <div class="card-body">
          <h6 class="card-text">{{item.original_name}}</h6>
        </div>
    </div>
</div>
<br>
</div>

     
    