<div>
  <div class="poster">
    <div class="carousel-item" *ngFor="let item of mymovies">
      <img class="imgmain" src="https://image.tmdb.org/t/p/original/{{item.backdrop_path}}" alt="no image">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{item.original_title}}</h5>
      </div>
    </div>
  </div>
  <br>


  <div class="headBack">
    <h5 style="color:white">Production Companies &nbsp;</h5>
  </div>



  <div class="divs">
    <div class="divofdiv" *ngFor="let item of production">
      <img *ngIf="item.logo_path" class="card-img-top" src="https://image.tmdb.org/t/p/original/{{item.logo_path}}" />
      <img *ngIf="!item.logo_path" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/330px-No-Image-Placeholder.svg.png" alt="no Image" />
    </div>
  </div>
  <br>


  <div class="headBack">
    <h5 style="color:white">Videos</h5>
    <button *ngIf="showmore" mat-raised-button color="primary" class="btnShowMore" (click)="loadMore()">show
      More</button>
    <button *ngIf="!showmore" mat-raised-button color="primary" class="btnShowMore" (click)="hide()">Show less</button>
  </div>
  <br>


  <div class="divs2" *ngIf="showmore">
    <div class="divofdiv2" style="max-width: 13em;" *ngFor="let item of myVideos">
      <iframe class="frame" src="https://www.youtube.com/embed/SIQD0pUpC_Q" >
      </iframe>
    </div>
  </div>


  <div class="divs2" *ngIf="!showmore">
    <div class="divofdiv2" style="max-width: 13em; " *ngFor="let item of AfterLoadVideos">
      <iframe class="frame" src="https://www.youtube.com/embed/SIQD0pUpC_Q">
      </iframe>
    </div>
  </div>
