<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" #sidenav *ngIf="showsidenav">
    <div class="sidebar-header">

      <img style="margin-left: 13%;" src="https://miro.medium.com/max/150/1*VKY-Ldkt-iHobItql7G_5w.png" alt="">

      <ul class="list-unstyled components">
        
          <ul class="small">News Feeds</ul>
          <br>
          <li routerLink="/home" routerLinkActive="is-active">
            <i id="icon" class="fa-solid fa-compass"></i>&nbsp; Browse
          </li><br>
          <li routerLink="/watchlist" routerLinkActive="is-active">
            <i id="icon" class="fa-regular fa-heart"></i>&nbsp; Watchlist
          </li>
          <br>
          <li routerLink="/upcoming" routerLinkActive="is-active">
            <i id="icon" class="fa-solid fa-calendar-days"></i>&nbsp; Coming
            soon
          </li>
          <br>
          <li routerLink="/theater" routerLinkActive="is-active">
            <i class="fa-solid fa-film"></i>&nbsp;
            In Theaters
          </li><br>
        

        <hr>
        <ul>
          <ul class="small">TV shows</ul>
          <br>

          <li routerLink="/shows" routerLinkActive="is-active">
            Shows
          </li><br>

          <li routerLink="/airing" routerLinkActive="is-active">
            Airing Shows
          </li><br>
        </ul>
        
          <li style="font-size: 15px; cursor: pointer;">
          <a (click)="showMore = !showMore">
            &nbsp; Load more
            <i class="fas" [ngClass]="showMore ? 'fa-circle-chevron-up' : 'fa-circle-chevron-down'"></i>
          </a>
          
          <ng-container *ngIf="showMore">
            <li class="nav-item">
              <a class="nav-link" routerLink="/AllMovies" routerLinkActive="active">All Movies</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/AllShows" routerLinkActive="active">All Shows </a>
            </li>
            
      </ng-container>
      
      <hr>
      <li style="cursor: pointer;" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>&nbsp; Logout
      </li>
    </ul>
    </div>
  </nav>
  


  <!---------------------
       page content
  ---------------------->



  <div id="content">
    <nav class="navbar " *ngIf="showsidenav">
      <div class="container-fluid">



        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#sidenav" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>




        <div class="inputDiv">
          <label *ngIf="show" id="label" for="input"><i class="fa-solid fa-magnifying-glass"
              style="color:#787777;"></i></label>
          <input id="input" type="text" placeholder="Search Everything" #val (keyup)="search(val.value)"
            (blur)="hideSearch()">
          <ul id="suggested-search" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
              <a (mousedown)="redirectToDetails(item.id , item)">
                <img src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" width="15%" alt="">
                {{item.title}}</a>
            </li>
          </ul>
        </div>


        <div class="noti">
          <a><i id="noti1" style="font-size: large;" class="fa-regular fa-comment-dots"></i></a> &nbsp; &nbsp;
          <a><i id="noti2" style="font-size:large;" class="fa-sharp fa-solid fa-bell"></i></a>
        </div>&nbsp; &nbsp;
        <img class="img-profile rounded-circle" src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp">

        <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="img-profile rounded-circle" src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp">
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div> -->

      </div>
    </nav>


    <!------------------------
           Main Data
     ------------------------>

    <router-outlet></router-outlet>
    <lib-ng-toast></lib-ng-toast>