.partyImg{
    aspect-ratio: 10/6;
}

h5{
    display: inline;
    color: white;
}
h6{
    color: white;
}
.btnShowMore{
    position: absolute;
    right: 2%;
}
.maivBook{
    display: flex;
}
.headBack{
    background-color: black;
    width: 100%;
}
h3{
    color: cornflowerblue;
}
.Creators{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}