<div  *ngFor="let item of Details">
    <div class="poster">
      <div class="carousel-item" >
        <img class="imgmain" src="https://image.tmdb.org/t/p/original/{{item.backdrop_path}}" alt="no image">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{item.name}}</h5>
        </div>
      </div>
    </div>
    <br>
  
  
    <div>
      <h5 style="color:white">Overview &nbsp;</h5>
    </div>
    <br>
    <h6>{{item.overview}}</h6>
    <br>
  

    <div>
      <h5 style="color:white">Episodes &nbsp;</h5>
    </div>
  <br>
  
  
  <div class="divs">
  <div class="divofdiv" >
      <img class="card-img-top" src="https://image.tmdb.org/t/p/original/{{item.last_episode_to_air.still_path}}" alt="">
    </div>
    <h5>Name : {{item.last_episode_to_air.name}}</h5>
    <h5>Episode No. : {{item.last_episode_to_air.episode_number}}</h5>
    <h5>Time : {{item.last_episode_to_air.runtime}}</h5>
  </div>
  <br>



  <div class="divs">
  <div class="divofdiv" >
        <img class="card-img-top" src="https://image.tmdb.org/t/p/original/{{item.next_episode_to_air.still_path}}" alt="">
      </div>
      <h5>Name : {{item.next_episode_to_air.name}}</h5>
      <h5>Episode No. : {{item.next_episode_to_air.episode_number}}</h5>
      <h5>Time : {{item.next_episode_to_air.runtime}}</h5>
    </div>
    <br>  
    <div>
      <h5 style="color:white">Videos</h5>
      <button *ngIf="showmore" mat-raised-button color="primary" class="btnShowMore" (click)="loadMore()">show
        More</button>
      <button *ngIf="!showmore" mat-raised-button color="primary" class="btnShowMore" (click)="hide()">Show less</button>
    </div>
    <br>
  
