.partyImg{
    aspect-ratio: 10/6;
}

h5{
    display: inline;
    color: white;
}
h6{
    color: white;
}
.btnShowMore{
    position: absolute;
    right: 2%;
}
.maivBook{
    display: flex;
}

h3{
    color: cornflowerblue;
}
.Creators{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}
.divofdiv{
    max-width: 50vh;
    margin: 2%;
    background-color: white;
}
.divofdiv2{
    width: 100%;
    max-width: 50vh;
    margin: 2%;
}
.card-img-top2{
    height: 50% !important ; 
    display: block;
}
.divs2 :hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}