h3{
    text-align: center;
    margin-bottom: 2%;
}
.card-img-top{
    height: 75% !important;
}
.moviesDiv{
    margin: 2%;
    width: 80% !important;
}
.filter{
    color: white;
    width: 18%;
    margin: 2%;
    /* border: 1px solid black; */
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
}
.master{
    width: 100%;
    display: flex;
}

h4{
    text-align: center;
    margin-bottom: 2%;
}

/* .active{
    color: cornflowerblue;
} */

