<div style="min-width: 80vw; background-color: black; color: antiquewhite;">
    <h3>Live in Theaters</h3>
</div>



<div class="moviesDiv">
    <div class="card mb-3" style="max-width: 100%;"*ngFor="let item of liveMovies" [routerLink]="['/details',item.id]">
        <div class="row g-0">
          <div class="col-md-4">
            <img *ngIf="!item.poster_path" class="img-fluid rounded-start"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png"
            height="" alt="">
          <img else class="img-fluid rounded-start" src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body"> 
              <h3 class="card-title">{{item.original_title}}</h3><br>
               <p class="card-text"><b style="color:cornflowerblue;">Overview :</b> <small>  {{item.overview}}</small></p>
               <br><br>
               <div class="dates" *ngFor="let item of dates">
                   <h4><b>From : </b> &nbsp;</h4> <p>{{item.minimum | date:'fullDate'}}</p><br>
                   <h4><b>  To &nbsp; : &nbsp;</b></h4> <p>{{item.maximum | date:'fullDate'}}</p>
               </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        dates:
      </div>

    </div> 