
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background-color: #101010;
    
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 6px 10px;
    background: #101010;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 250px;
    background: #101010;
    color: #787777;
    transition: all 0.3s;
    border-right: 2px solid black;
    overflow-y: scroll;
    overflow: hidden;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    text-align: center;
    background: #101010;
    /* position: fixed; */
    
}

#sidebar ul.components {
    padding: 20px 0;
    /* position: fixed; */
}

#sidebar ul p {
    color: #787777;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #101010;
    background: #787777;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #787777;
    background: #101010;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #101010;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}



a.article,
a.article:hover {
    background: #101010 !important;
    color: #787777!important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #101010;
    padding: 1%;
    
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


.inputDiv{
    position:relative;
    width:fit-content;
}

#label{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 1rem;
  }
#label2{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 1rem;
  }

#input{
    height: 41px;
    border-radius: 22px;
    border: 2px solid rgba(20,20,20,255);
    background-color: #101010;
    color: #787777;
    padding-right:20px;
}
::placeholder{
    color: #787777;
    text-align: center;
    font-size: small;
}
.noti{
    color: #787777;
    position: absolute;
    right: 8%;
    display: flex;
}

.img-profile{
    height: 36px;
}
.small{
    font-size: x-small !important; 
    color: cornflowerblue;
}
.img-profile-side{
    height: 16px;
}

nav ul li{
    font-size: 15px;
    cursor: pointer;
}
.poster{
    color: rgb(189, 187, 187);
    padding: 2%;
    border-radius: 14px;
    background-color: black;
    width: 97%;
    height: 52vh;
    cursor: pointer;
}

.sideFriend{
    font-size: 15px;
}
.divofdiv{
    background-color: #161616;
    color: rgb(189, 187, 187);
    min-height: 7em;
    width: 8em;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
    max-width: 15rem;
    max-height: 14em;
   
}
.divs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.divs2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.moviesDiv{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    aspect-ratio: 6/2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}
.card{
    background-color: #161616;
    margin-bottom: 2%;
    width: 15rem; 
    min-height: 12em;
    height: 23em;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgmain{
    width: 76vw;
    height: 45vh;
    margin: auto;
    border-radius: 14px;
}
.card-img-top{
    display: block;
    margin: auto;
    height: 75%;
    
}
.carousel-item{
    display: inline;
}
.partyImg{
    height: 10em;
    margin: auto;
    border-radius: 10%;
}
.card-text{
    text-align: center;
}
#input[type=text]{
    text-align: center;
    color: white;
}
#suggested-search{
    position: absolute;
    top: 44px;
    z-index: 10;
    display: list-item !important;
    background-color: #161616;
    width: 345px;
    border-radius: 18px;
  }
  #suggested-search li {
    padding:7px;
    border: 1px solid rgba(20,20,20,255);
    list-style: none;
  }
  #suggested-search li a{
    cursor: pointer;
    color: whitesmoke;
  }

  .divofdiv2{
    background-color: #161616;
    color: rgb(189, 187, 187);
    min-height: 7em;
    width: 8em;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
    max-width: 15rem;
    max-height: 14em;
   
}
.frame{
    width: 100%;
}

.headBack{
    background-color: black;
    width: 100%;
}
#paginator{
    width: 100%;
    background-color: #101010;
    color: white;
}


.is-active{
    color: rgb(192, 55, 55);
}
ul{
    list-style-type: none;
}
.fas{
    color:rgb(192, 55, 55);
}

ul li{
    cursor: pointer;
}
